---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Grand%20Rapids,%20MI&key=AIzaSyAUMMTA8uJFf19cmrg8sYCH1IniHA3etXw&language=en&region=us&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"Grand Rapids\",\n
        \              \"short_name\" : \"Grand Rapids\",\n               \"types\"
        : \n               [\n                  \"locality\",\n                  \"political\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Kent County\",\n               \"short_name\" : \"Kent County\",\n               \"types\"
        : \n               [\n                  \"administrative_area_level_2\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Michigan\",\n               \"short_name\"
        : \"MI\",\n               \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Grand Rapids, MI, USA\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 43.0290509,\n                  \"lng\"
        : -85.56864589999999\n               },\n               \"southwest\" : \n
        \              {\n                  \"lat\" : 42.8836659,\n                  \"lng\"
        : -85.75153209999999\n               }\n            },\n            \"location\"
        : \n            {\n               \"lat\" : 42.9633599,\n               \"lng\"
        : -85.6680863\n            },\n            \"location_type\" : \"APPROXIMATE\",\n
        \           \"viewport\" : \n            {\n               \"northeast\" :
        \n               {\n                  \"lat\" : 43.0290509,\n                  \"lng\"
        : -85.56864589999999\n               },\n               \"southwest\" : \n
        \              {\n                  \"lat\" : 42.8836659,\n                  \"lng\"
        : -85.75153209999999\n               }\n            }\n         },\n         \"place_id\"
        : \"ChIJFShQu2BUGIgR0KjTG8uqk6U\",\n         \"types\" : \n         [\n            \"locality\",\n
        \           \"political\"\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 17 Apr 2024 01:49:56 GMT
recorded_with: VCR 6.2.0
