---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1%20Apple%20Park%20Way,%20Cupertino,%20CA&key=AIzaSyAUMMTA8uJFf19cmrg8sYCH1IniHA3etXw&language=en&region=us&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - San Jose, CA
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"1\",\n               \"short_name\"
        : \"1\",\n               \"types\" : \n               [\n                  \"street_number\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Apple Park Way\",\n               \"short_name\" : \"Apple Park Way\",\n
        \              \"types\" : \n               [\n                  \"route\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Cupertino\",\n               \"short_name\" : \"Cupertino\",\n               \"types\"
[...]
