---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=13931ece11e693978055bc4132e9b029&exclude=minutely&lat=40.7128&lon=-74.006&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.7128,"lon":-74.006,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1713384214,"sunrise":1713348797,"sunset":1713397033,"temp":53.78,"feels_like":52.11,"pressure":1019,"humidity":69,"dew_point":43.86,"uvi":0.9,"clouds":100,"visibility":10000,"wind_speed":11.5,"wind_deg":50,"wind_gust":16.11,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.67}},"hourly":[{"dt":1713384000,"temp":53.78,"feels_like":52.11,"pressure":1019,"humidity":69,"dew_point":43.86,"uvi":0.9,"clouds":100,"visibility":10000,"wind_speed":9.24,"wind_deg":128,"wind_gust":9.86,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.2,"rain":{"1h":0.75}},{"dt":1713387600,"temp":53.96,"feels_like":52.25,"pressure":1019,"humidity":68,"dew_point":43.66,"uvi":0.34,"clouds":100,"visibility":10000,"wind_speed":8.16,"wind_deg":136,"wind_gust":10.04,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"pop":1,"rain":{"1h":1.15}},{"dt":1713391200,"temp":53.82,"feels_like":52.14,"pressure":1018,"humidity":69,"dew_point":43.9,"uvi":0.14,"clouds":100,"visibility":10000,"wind_speed":12.88,"wind_deg":[...]
